<launch>

  <node name="rviz"
    pkg="rviz"
    type="rviz"
    output="log"
    args="-d $(find mav_coverage_planning_ros)/cfg/rviz_2d_stripmap.rviz" />

  <node name="stripmap_planner_2d"
    pkg="mav_coverage_planning_ros"
    type="stripmap_planner_2d_node"
    output="screen"
    clear_params="true" >

    <!-- Basic and control parameter -->
    <rosparam command="load" file="$(find mav_coverage_planning_ros)/cfg/base_planner_2d.yaml" />
    <!-- Polygon, altitude, and world frame ID -->
    <rosparam command="load" file="$(find mav_coverage_planning_ros)/cfg/example_polygon_forest.yaml" />
    <!-- Sweep planner specific parameter -->
    <param name="robot_size" value="0.4" />
    <param name="wall_dist" value="0.7" />
    <param name="min_view_overlap" value="0.0" />
    <param name="sweep_around_obstacles" value="true" />
    <!-- Options: "bcd", "convex"-->
    <param name="decomposition_type" value="convex" />
  </node>

</launch>
